In [4]:
import random
import numpy as np
import pandas as pd
import gym

# import matplotlib.pyplot as plt
# %matplotlib inline

In [25]:
env = gym.make('LunarLander-v2')
# env = gym.make('CartPole-v1')

n_a = env.action_space.n

WARN: gym.spaces.Box autodetected dtype as <class 'numpy.float32'>. Please provide explicit dtype.

In [26]:
n_obs = 1_000_000
obs = []
rs = []

In [27]:
%%time
s = env.reset()
for i in range(n_obs):
    a = random.randint(0, n_a-1)
    s, r, done, _ = env.step(a)
    
    obs.append(s)
    rs.append(r)
    if done:
        s = env.reset()

CPU times: user 2min 43s, sys: 1.69 s, total: 2min 45s
Wall time: 2min 45s

In [28]:
pd.DataFrame(obs).describe([.01, .02, .25, .75, .98, .99])#.to_csv('outputs/pole-obs.csv')

,0,1,2,3,4,5,6,7
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,0.003150,0.634126,0.005854,-0.667465,-0.002415,-0.002020,0.025984,0.025582
std,0.311699,0.317412,0.628485,0.478753,0.508518,0.524295,0.159088,0.157885
min,-1.023864,-0.319619,-2.430522,-2.436827,-4.872115,-8.609914,0.000000,0.000000
1%,-0.818495,-0.043480,-1.371112,-1.561670,-1.509651,-1.260038,0.000000,0.000000
2%,-0.711782,-0.015764,-1.210484,-1.498326,-1.198193,-0.592989,0.000000,0.000000
25%,-0.154519,0.392282,-0.488957,-1.052859,-0.189665,-0.142257,0.000000,0.000000
50%,0.001549,0.718502,0.004032,-0.681848,-0.000563,-0.000581,0.000000,0.000000
75%,0.162044,0.910141,0.497354,-0.305608,0.186221,0.139744,0.000000,0.000000
98%,0.723159,1.048390,1.230168,0.275435,1.193958,0.586482,1.000000,1.000000
99%,0.820374,1.071317,1.391993,0.346398,1.504165,1.244078,1.000000,1.000000
max,1.020673,1.212551,2.422055,0.602672,5.067727,8.109635,1.000000,1.000000

In [29]:
_28.to_csv('outputs/lander-obs.csv')

In [30]:
pd.Series(rs).describe()

count    1000000.000000
mean          -2.459528
std           11.084173
min         -100.000000
25%           -2.741011
50%           -1.741845
75%           -0.487817
max          145.529435
dtype: float64

In [32]:
rsa = np.array(rs[:1000])

In [37]:
(rsa >= 100).mean()

0.001